
@{
    ViewBag.Title = "Inspeccion";
}

<link href="~/Content/Modulo/Consulta/Inspeccion.css" rel="stylesheet" />
<div style="height:10px;"></div>
<h4>Listado de Inspección &nbsp;&nbsp;<i class="fas fa-list-alt" style="font-size:25px;"></i></h4>

<div class="alert-inspeccion" role="alert" style="width:98%; margin:auto;">
    <div class="row">
        <form>
            <div class="form-row">
                <div class="col" style="text-align:left;">
                    <label class="col-form-label col-form-label-sm">Nro. Inspección:</label>
                    <input id="idinspeccion" type="text" class="form-control form-control-sm">
                </div>
                <div class="col" style="text-align:left;">
                    <label class="col-form-label col-form-label-sm">Nro. Poliza:</label>
                    <input id="idpoliza" type="text" class="form-control form-control-sm">
                </div>
                <div class="col" style="text-align:left;">
                    <label class="col-form-label col-form-label-sm">Contratante:</label>
                    <input id="contratante" type="text" class="form-control form-control-sm">
                </div>
                <div class="col" style="text-align:left;">
                    <label class="col-form-label col-form-label-sm"><input type="checkbox" name="fec_ini" id="chk_fec_ini" checked>Fecha Inicial:</label>
                    <input id="fechaini" type="date" class="form-control form-control-sm">
                    @*<input id="fechaini2" type="date" class="form-control form-control-sm Ocultar" >*@
                </div>
                <div class="col" style="text-align:left;">
                    <label class="col-form-label col-form-label-sm">Fecha Fin:</label>
                    <input id="fechafin" type="date" class="form-control form-control-sm">
                </div>
                <div class="col" style="text-align:left;">
                    <label class="col-form-label col-form-label-sm">Placa:</label>
                    <input id="placa" type="text" class="form-control form-control-sm">
                </div>
                <div class="col-sm-1" style="margin-top:1.8rem;">
                    <input id="btnBuscar" type="button" value="Buscar" class="btn_customer btn-secondary" />
                </div>
                <div class="col-sm-1" style="margin-top:1.8rem;text-align:left;">
                    <input id="btnLimpiar" type="button" value="Limpiar" class="btn_customer btn-secondary" />
                </div>
                <div class="col-sm-1" style="margin-top:1.8rem;text-align:left;">
                    @*<input onclick="exportarExcel()" id="btnExportar" type="button" value="Exportar" class="btn_customer btn-success" />*@
                    <a onclick="exportarExcel2()" class="btn_customer btn-success">
                        Exportar&nbsp;&nbsp;
                        <i class="fas fa-file-excel"></i>
                    </a>
                </div>
                @*<div class="col-sm-1" style="margin-top:1.8rem;text-align:left;">
                        <input id="btnNuevo" type="button" value="Nuevo" class="btn_customer btn-secondary" />
                    </div>*@

            </div>
            @*class="col"*@

            <div style="width:100%; overflow:hidden;">


                <div style="text-align:left; float:left; margin-right:10px;">
                    <label class="col-form-label col-form-label-sm">DOI:</label>
                    <input id="doi" placeholder="" type="text" class="form-control form-control-sm">
                </div>
                <div style="text-align:left; float:left; margin-right:10px;">
                    @*<input id="contratante" placeholder="ESTADO" type="text" class="form-control form-control-sm">*@
                    <label class="col-form-label col-form-label-sm">Estado Inspección:</label>
                    <select class="form-control input-sm" id="sp_EstadoInpecion" name="sp_EstadoInpecion">
                        <option value="0">TODOS</option>
                        <option value="1">PROGRAMADO</option>
                        <option value="2">REPROGRAMADO</option>
                        <option value="3">CONCLUIDO</option>
                        <option value="4">PENDIENTE</option>
                        <option value="5">CANCELADO</option>
                    </select>
                </div>
                <div style="text-align:left; float:left; margin-top:20px">
                    <input type="checkbox" name="chk_sinfec_program" id="chk_sinfec_program"><label class="col-form-label col-form-label-sm ">&nbsp;&nbsp;Sin Fecha de Programación</label>
                </div>
                <div style="text-align:left; float:left; margin-left:15px; margin-top:20px">
                    <input type="checkbox" name="chk_inspec_vencida" id="chk_inspec_vencida"><label class="col-form-label col-form-label-sm">&nbsp;&nbsp;Inspecciones Vencidas</label>
                </div>
            </div>
        </form>

    </div>
</div>

<div style="height:15px;"></div>

<div style="width:95%;margin:auto; background:#fff;">

    @*<table>
        <tfoot>
            <tr>
                <td colspan="2">*@
    <div class="row" style="padding-left:91%;">
        <div>
            <input class="btn_filter btn-secondary btn_left" id="Anterior" type="button" value="<" />
        </div>
        <div>
            <select class="form-control input-sm" id="Pagina" name="Pagina" style="border-radius:0;">
                <option value="1">1</option>
            </select>
        </div>
        <div>
            <input class="btn_filter btn-secondary btn_rigth" id="Siguiente" type="button" value=">" />
        </div>
    </div>

    @*</td>
                </tr>
            </tfoot>
        </table>*@


    <table class="table table-sm table-hover" id="GridListar">
        @*<thead class="bg-blues">
                <tr>
                    <td>Nro. Inspección</td>
                    <td>Nro. Poliza</td>
                    <td>Contratante</td>
                    <td>Fecha Inicio</td>
                    <td>Fecha Fin</td>
                    <td>Placa</td>
                    <td>Fecha Registro</td>
                    <td>Fecha Programación</td>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Estado</td>
                </tr>
            </thead>*@

    </table>
    <table id="table_export2" style="display:none;">
        <thead>
            <tr>
                <th>ID Inspeccion</th>
                <th>ID Poliza</th>
                <th>Contratante</th>
                <th>Placa</th>
                <th>Fecha Registro</th>
                <th>Fecha Programacion</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody id="bodyExport2"></tbody>
    </table>


</div>


<!--Init Scripts-->
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/Genesis/Consultas/Inspeccion.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.redirect.js"></script>
<!--End Scripts-->
