
@{
    ViewBag.Title = "ReporteInspeccion";
}


<link href="~/Content/styleRegInspeccion.css" rel="stylesheet" />
<link href="~/Content/ReporteInspeccion.css" rel="stylesheet" />


<!-- Top content -->
<section class="main">

    <div class="contenedor1">
        <h1 id="titulorep">Reporte de Inspección</h1>
    </div>

    <div class="contenedor2">
        <div class="row">
            <div class="col-md-6">
                <h3 id="nombre_id"></h3>

                <form class="form-inline">
                    <div class="form-group">
                        <label>DNI:</label>
                        <span id="nrodoc_id"></span>
                    </div>

                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>CELULAR:</label>
                        <span id="celular_id"></span>
                    </div>
                </form>

            </div>

            <div class="col-md-6">
                <div class="contenedor-inspeccion">
                    <span class="subtitle-content2">LA INSPECCIÓN REALIZADA</span>
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-inline">
                                <div class="form-group">
                                    <img src="~/Img/icon-calendar.png" width="50px;" />
                                    <span id="fecha_id"></span>
                                </div>
                            </form>

                        </div>
                        <div class="col-md-6">
                            <form class="form-inline">
                                <div class="form-group">
                                    <img src="~/Img/icon-clock.png" width="50px;" />
                                    <span id="hora_id"></span>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="contenedor3">
        <div class="row">
            <div class="col-md-6">
                <div class="contenedor-img">
                    <img src="~/Img/car.png" width="80%" />
                </div>
            </div>
            <div class="col-md-6">
                <div style="height: 8px;"></div>
                <h3>Datos de tu carro</h3>
                <div style="height: 8px;"></div>
                <form class="form-inline">
                    <div class="form-group">
                        <label>PLACA:</label>
                        <span id="placa_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>MARCA:</label>
                        <span id="marca_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>MODELO:</label>
                        <span id="modelo_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>COLOR:</label>
                        <span id="color_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>NÚMERO DE MOTOR:</label>
                        <span id="nromotor_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>NÚMERO DE VIN:</label>
                        <span id="nrovin_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>KILOMETRAJE:</label>
                        <span id="kilometraje_id"></span>
                    </div>
                </form>
                <form class="form-inline">
                    <div class="form-group">
                        <label>ESTADO:</label>
                        <span id="estado_id"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="contenedor4">
        <form>
            <label>Accesorios adicionales:</label><br>
            <span id="accesoriosadi_id"></span>
        </form>

        <form>
            <label>Observaciones:</label><br>
            <span id="observacion_id"></span>
        </form>
    </div>

</section>

<script src="~/Scripts/Genesis/Inspeccion/ReporteInspeccion.js"></script>

